.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); 
  color: white;
}

.App-link {
  color: #61dafb;
}

div.custom-container {
	background-color: #242424;
}

svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

svg.custom .node text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: rgb(37, 184, 140);
	stroke-width: 1.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

.node {
	cursor: pointer;
}

.node.searchIncluded text {
	font-weight: bold;
	font-size: 14px;
}

.node.searchExcluded text {
	opacity: 0.6;
}

path.link {
	fill: none;
	stroke: rgb(26, 138, 100);
	stroke-width: 1.5px;
}

body {
	background-color: #242424;
}

span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #F4F4F4;
	text-shadow: 0 1px 4px black;
	float: right;
}

input {
	padding: 5px 12px;
	border: 0;
	border-radius: 50px;
}

input:focus {
	outline: none;
}

button {
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	border: 0;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	padding: 5px 12px;
	border-radius: 50px;
}

button:hover {
	background-image: linear-gradient(to top, #337ab7 0%, #265a88 100%);
	cursor: pointer;
}

button:focus {
	outline: none;
	background-image: linear-gradient(to top, #337ab7 0%, #265a88 100%);
}